<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoomBookingApp</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">All rooms</a></li>
            <li><a href="#">Add new room</a></li>
        </ul>
    </nav>
    <footer>
        <p>Simple room booking app based on Django</p>
        <p>Author: Lukasz Poznanski</p>
        <p><a href="mailto:lpoznanski3@gmail.com">l.poznanski3@gmail.com</a></p>
    </footer>
</body>
</html>