<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoomBookingApp</title>
</head>
<body>
    <!--    Nav-->
    <nav>
        <ul>
            <li><a href="/">All rooms</a></li>
            <li><a href="/room/new/">Add new room</a></li>
        </ul>
    </nav>
    <!--    Nav-->
    <!--    Form-->
    <form method="POST"> {% csrf_token %}
        <h3>Edit room</h3>
        <label>Name: <input type="text" name="name" value="{{ room.name }}"></label>
        <label>Capacity: <input type="number" name="capacity" value="{{ room.capacity }}"></label>
        <label>Projector availability: <input type="checkbox" name="projector.availability" {% if room.projector_availability %} checked {% endif %}></label>
        <input type="submit" value="Update">
    </form>
    <!--    Form-->
    {% if error %}
    <!-- Form error -->
    <div>
    {{error}}
    </div>
    {% endif %}
    <!-- Form error -->
    <!--    Footer-->
    <footer>
        <p>Simple room booking app based on Django</p>
        <p>Author: Lukasz Poznanski</p>
        <p><a href="mailto:lpoznanski3@gmail.com">l.poznanski3@gmail.com</a></p>
    </footer>
    <!--    Footer-->
</body>
</html>