<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoomBookingApp</title>
</head>
<body>
    <!--    Nav-->
    <nav>
        <ul>
            <li><a href="/">All rooms</a></li>
            <li><a href="/room/new/">Add new room</a></li>
        </ul>
    </nav>
    <!--    Nav-->
    <!-- Form-->
    <form method="POST"> {% csrf_token %}
        <h3>Book room {{ room.name }}</h3>
        <label>Date: <input type="date" name="date" required></label>
        <label>Comment: <textarea name="comment"></textarea></label>
        <input type="submit" value="Add reservation">
    </form>
    <!--    Form-->
    <!--    Error-->
    {% if error %}
    <div>
    {{error}}
    </div>
    {% endif %}
    <!--    Error-->
    <!--    Table-->
    <table>
    <thead>
            <tr>
                <th>Reservations:</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--    Table-->
    <!--    Footer-->
    <footer>
        <p>Simple room booking app based on Django</p>
        <p>Author: Lukasz Poznanski</p>
        <p><a href="mailto:lpoznanski3@gmail.com">l.poznanski3@gmail.com</a></p>
    </footer>
    <!--    Footer-->
</body>
</html>