*{
    padding: 0;
    margin: 0;
}

body{
    /*height: 100%;*/
}

.container{
    width: 100%;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    position: relative;
}

.subpage{
    height: 90vh;
}

nav{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex: 1;
}

nav ul li{
    display: inline-block;
    background: linear-gradient(45deg, #144C8B, #1E3C59);
    /*background: #144C8B;*/
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    box-shadow: 3px 8px 22px #e3e7af;
    /*border-style: ridge;*/
    /*border-color: #1C252B;*/

}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FEFEFE;
    font-family: gill sans, sans-serif;

}

table{
    width: 80%;
    text-align: center;
    background: #1E3C59;
    border-radius: 6px;
}

th{
    color: #FEFEFE;
    font-family: gill sans, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px #83B0E3;
}

td{
    border-radius: 4px;
    color: #1C252B;
    font-family: gill sans, sans-serif;
}

td a{
    text-decoration: none;
    color: #002e2c;
}

td button{
    background: #83B0E3;
    display: inline-block;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    border-radius: 6px;
    font-family: gill sans, sans-serif;
    color: #1C252B;
    border-color: #1C252B;
}

.buttons{
    background-color: #1E3C59;
}

.data{
    background-color: #83B0E3;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: ridge;
}

.book{
    font-weight: bold;
    background-color: #144C8B;
    color: #FEFEFE;
}

form{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #1E3C59;
    border-radius: 6px;
    color: #FEFEFE;
    font-family: gill sans, sans-serif;
}

form h3{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px #83B0E3;
}

form label{
    display: inline-block;
    padding: 10px;
}

.btn{
    background: #83B0E3;
    width: 80px;
    height: 30px;
    border-radius: 6px;
    text-transform: uppercase;
    border-style: ridge;
    border-color: #1C252B;
}

footer{
    height: 5%;
    text-align: center;
    font-family: gill sans, sans-serif;
    background-color: #FEFEFE;
    border-radius: 6px;
    opacity: 0.7;
}

footer p:first-child{
    padding-top: 8px;
    font-style: italic;
}

footer p:last-child{
    padding-bottom: 8px;
}

footer p{
    color: #1E3C59;
    font-size: small;
}